<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Flex Fit</title>
</head>
<body>
    <h1>Welcome to Flex Fit</h1>
    <a href="/exercises">Excercises</a>
    <a href="/workloads">Workloads</a>
    <!-- For commented until we work on login
        <form action="/exercise" method="post">
            <label for="name">Enter your name:</label><br>
            <input type="text" id="name" name="name"><br>
            <input type="submit" value="Submit">
        </form
    -->
</body>
</html>
