<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_login.css') }}">
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <ul class="messages">
        <li class="success">For Guest Use: <br />**Username** = user1 <br />**Password** = 123456</li>
      </ul>
      <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
      </form>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="messages">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>